<header>
    <img src="{{ asset('img/admin.jpg') }}" alt="">
</header>

<h3>menu Admin</h3>
<p>Il y a {{ nbrProduits }} produits disponibles</p>

<ul>
    <li><a href="{{ path('seDeconnecter') }}">Se déconnecter</a></li>
    <li><a href="{{ path('accueil') }}">aller à la page d'accueil</a></li>
    <li><a href="{{ path('gererUtilisateurs') }}">Gérer les utilisateurs</a></li>
    <li><a href="{{ path('produit_ajouter') }}">Ajouter un produit</a></li>
    <li><a href="https://fr.wikipedia.org/wiki/Amour et Amnésie">Amour et Amnésie</a></li>
</ul>
