<header>
    <img src="{{ asset('img/anonyme.jpg') }}" alt="">
</header>


<h3>menu Anonyme</h3>
<p>Il y a {{ nbrProduits }} produits disponibles</p>

<ul>
    <li><a href="{{ path('seConnecter') }}">Se connecter</a></li>
    <li><a href="{{ path('accueil') }}">aller à la page d'accueil</a></li>
    <li><a href="{{ path('creerCompte') }}">Créer un compte</a></li>
</ul>